<!DOCTYPE html>
<html>

<head>
  <title>TMDB Search</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home_styles.css' %}">
</head>

<body>
  <div class="container">
    <h1>Search Movies</h1>
    <form method="get" action="">
      <input type="text" name="q" placeholder="Search for a movie..." value="{{ request.GET.q }}">
      <button type="submit">Search</button>
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% if results %}
    <div class="card-container">
      {% for movie in results %}
      <div class="card">
        <a href="{% url 'movie_details' movie.id %}">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
        <div class="card-content">
          <h3>{{ movie.title }} ({{ movie.release_date }})</h3>
          <p><strong>Overview:</strong> {{ movie.overview|truncatewords:20 }}</p>
          <p><strong>Popularity:</strong> {{ movie.popularity }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</body>

</html>